@page "/Error"
@using System.Diagnostics
@inject IStringLocalizer<SharedResource> L

<PageTitle>@L["Error"]</PageTitle>

<h1 class="text-danger">@L["ErrorHeading"]</h1>
<h2 class="text-danger">@L["ErrorProcessingRequest"]</h2>

@if (ShowRequestId)
{
    <p>
        <strong>@L["RequestId"]</strong> <code>@RequestId</code>
    </p>
}

<h3>@L["DevelopmentMode"]</h3>
<p>@L["DevelopmentModeDetails"]</p>
<p>
    <strong>@L["DevelopmentModeWarning"]</strong>
</p>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
