@inject IStringLocalizer<SharedResource> L

<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            @L["RejoiningServer"]
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            @L["RejoinFailedPrefix"] <span id="components-seconds-to-next-attempt"></span> @L["SecondsSuffix"]
        </p>
        <p class="components-reconnect-failed-visible">
            @L["FailedToRejoin"]
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            @L["Retry"]
        </button>
        <p class="components-pause-visible">
            @L["SessionPaused"]
        </p>
        <p class="components-resume-failed-visible">
            @L["FailedToResume"]
        </p>
        <button id="components-resume-button" class="components-pause-visible components-resume-failed-visible">
            @L["ResumeAction"]
        </button>
    </div>
</dialog>
